{{ ckeditor.load() }}
{% extends 'base.html' %}

{% block title %}
    Add Blog
{% endblock %}

      <!-- Future Content here -->
      {% block content %}

            <div class="container" style="margin-left: 20px; margin-right: 20px;">
                <form method="POST" class="form-activities" style="color:white">
                    {{ form.hidden_tag()}}
                    
                {{ form.blogname.label()}}
                {{ form.blogname(class="form-control", placeholder="Blog Title")}}

                {{ form.author.label() }}
                {{ form.author(class="form-control", placeholder="Author")}}
                <br>
        
                {{ form.blogcontent.label()}}
                {{ form.blogcontent(class="form-control", placeholder="Blog Content")}}
        
                <br>
        
                {{ form.create(class="btn btn-lg btn-block btn-primary")}}
                </form>
                {{ ckeditor.load('full') }}
                {{ ckeditor.config(name='blogcontent')}}
            </div>
       
        {% endblock %}
    