{{ ckeditor.load() }}
{% extends 'base.html' %}

{% block title %}
    Add Activity
{% endblock %}

{% block content %}
        <form method="POST" class="form-activities" style="color:white"  style="margin-top: 15px;">
            {{ form.hidden_tag()}}
            
        {{ form.activity_name.label()}}
        {{ form.activity_name(class="form-control", placeholder="Activity Name")}}

        {{ form.author.label() }}
        {{ form.author(class="form-control", placeholder="Author")}}

        {{ form.date.label() }}
        {{ form.date(class="form-control", placeholder="Date")}}

        {{ form.activity_desc.label() }}
        {{ form.activity_desc(class="form-control", placeholder="About Activity")}}
        
        <br>

        {{ form.add(class="btn btn-lg btn-block btn-primary")}}
        </form>
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='activity_desc')}}
    </div>
{% endblock %}


