{% extends 'base.html'%}

{% block title %}
    Register Page
{% endblock %}

{% block content %}
<body class="text-center">
    <h1 style="padding-top: 3em;">Fill this form to register</h1>
    <div class="container">
        <form method="POST" class="form-register" style="color:white; margin-left: 80px; margin-right: 80px;">
            {{ form.hidden_tag()}}
            
        {{ form.username.label()}}
        {{ form.username(class="form-control", placeholder="User Name")}}

        {{ form.email_address.label()}}
        {{ form.email_address(class="form-control", placeholder="Email Address")}}
    
        {{ form.password1.label()}}
        {{ form.password1(class="form-control", placeholder="Password")}}
    

        {{ form.password2.label()}}
        {{ form.password2(class="form-control", placeholder="Confirm Password")}}

        
        {{ form.about.label()}}
        {{ form.about(class="form-control", placeholder="About Yourself")}}

        <br>
        <div class="checkbox mb-3">
            <h6>Already have an account?</h6>
            <a class="btn btn-sm btn-secondary" href="{{url_for('login_page') }}"> Login</a>
        </div>

        {{ form.submit(class="btn btn-primary btn-lg btn-block")}}
        </form>

    </div>
</body>
{% endblock %}